<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    {{safe_string title}}
    {{safe_string metas}}
    <!-- <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script> -->
    <style>{{style}}</style>
    <script>
      window.INITIAL_STATE = {{safe_string storeStateData}}
    </script>
  </head>
  <body>
    <div id="app">
      {{safe_string content}}
    </div>
    <!-- built files will be auto injected -->
  </body>
</html>
